# requirements.txt
Flask # Add Flask
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
python-dotenv
# requests # Might be needed by google-auth or useful later
# SQLAlchemy # Add later for database``